body {
  font-family: "Fira Sans", sans-serif;
  margin: 0;
  background-color: #f3f5fa;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.slick-slide > div {
  margin: 0 5px;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin: 0 12px;
  }

  @media screen and (min-width: 1280px) {
    margin: 0 24px;
  }
}

.slick-list {
  margin: 0 -5px;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin: 0 -12px;
  }

  @media screen and (min-width: 1280px) {
    margin: 0 -24px;
  }
}
